name: CI/CD Pipeline - Node App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/cicd-node-app .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/cicd-node-app

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker stop cicd || true
            docker rm cicd || true

            docker pull ${{ secrets.DOCKER_USERNAME }}/cicd-node-app
            docker run -d -p 80:3000 --name cicd ${{ secrets.DOCKER_USERNAME }}/cicd-node-app
